#resetButton {
  user-select: none;
  outline: none;

  margin-top: 25vh;
  margin-left: 45vw;

  background-color: #ddd;
  border: 4px solid #19000C;
  border-radius: 20px;
  width: 10vw;
  height: 5vw;

  font-size: 3vw;
  color: #333;
}

#resetButton:hover {
  background-color: #ccc;
  color: #222;
  font-size: 2.8vw;
}

#resetButton:active {
  background-color: #bbb;
  color: #111;
  font-size: 2.6vw;
}


#tapButton {
  user-select: none;
  outline: none;

  margin-top: 5vh;
  margin-left: 45vw;

  background-color: #ddd;
  border: 4px solid #19000C;
  border-radius: 20px;
  width: 10vw;
  height: 10vw;

  font-size: 4vw;
  color: #333;
}

#tapButton:hover {
  background-color: #ccc;
  color: #222;
  font-size: 3.8vw;
}

#tapButton:active {
  background-color: #bbb;
  color: #111;
  font-size: 3.6vw;
}
